Package: com.tiepat.TwistedApple
Name: TwistedApple
Depends: com.anemonetheming.anemone
Version: 1.2
Architecture: iphoneos-arm
Description: IOS Theme
Maintainer: tiepat <anounomus455@gmail.com>
Author: tiepat <anounomus455@gmail.com>
Section: Themes
